[submodule ".vim/bundle/surround"]
	path = .vim/bundle/surround
	url = https://github.com/tpope/vim-surround.git
[submodule ".vim/bundle/ctrlp"]
	path = .vim/bundle/ctrlp
	url = https://github.com/kien/ctrlp.vim.git
[submodule ".vim/bundle/nerdcommenter"]
	path = .vim/bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule ".vim/bundle/gist"]
	path = .vim/bundle/gist
	url = https://github.com/mattn/gist-vim.git
[submodule ".vim/bundle/snipmate"]
	path = .vim/bundle/snipmate
	url = https://github.com/garbas/vim-snipmate.git
[submodule ".vim/bundle/vimux"]
	path = .vim/bundle/vimux
	url = https://github.com/benmills/vimux.git
[submodule ".vim/bundle/vim-fugitive"]
	path = .vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule ".vim/bundle/vim-matchit"]
	path = .vim/bundle/vim-matchit
	url = https://github.com/tmhedberg/matchit.git
[submodule ".vim/bundle/vim-addon-mw-utils"]
	path = .vim/bundle/vim-addon-mw-utils
	url = https://github.com/MarcWeber/vim-addon-mw-utils.git
[submodule ".vim/bundle/vim-tlib"]
	path = .vim/bundle/vim-tlib
	url = https://github.com/tomtom/tlib_vim.git
[submodule ".vim/bundle/vim-webapi"]
	path = .vim/bundle/vim-webapi
	url = https://github.com/mattn/webapi-vim.git
[submodule ".vim/bundle/vim-go"]
	path = .vim/bundle/vim-go
	url = https://github.com/fatih/vim-go.git
[submodule ".vim/bundle/vim-yaml"]
	path = .vim/bundle/vim-yaml
	url = https://github.com/chase/vim-ansible-yaml.git
[submodule ".vim/bundle/vim-protobuf"]
	path = .vim/bundle/vim-protobuf
	url = https://github.com/uarun/vim-protobuf.git
[submodule ".vim/bundle/vim-autoread"]
	path = .vim/bundle/vim-autoread
	url = https://github.com/djoshea/vim-autoread.git
[submodule ".vim/bundle/vim-toml"]
	path = .vim/bundle/vim-toml
	url = git@github.com:cespare/vim-toml.git
[submodule ".vim/bundle/vimux-golang"]
	path = .vim/bundle/vimux-golang
	url = git@github.com:benmills/vimux-golang.git
[submodule ".vim/bundle/vim-airline"]
	path = .vim/bundle/vim-airline
	url = git@github.com:vim-airline/vim-airline.git
[submodule ".vim/bundle/vim-airline-themes"]
	path = .vim/bundle/vim-airline-themes
	url = git@github.com:vim-airline/vim-airline-themes.git
[submodule ".vim/bundle/carbon"]
	path = .vim/bundle/carbon
	url = git@github.com:kristijanhusak/vim-carbon-now-sh.git
[submodule ".vim/bundle/terraform"]
	path = .vim/bundle/terraform
	url = https://github.com/hashivim/vim-terraform.git
[submodule ".vim/bundle/vim-markdown-toc"]
	path = .vim/bundle/vim-markdown-toc
	url = https://github.com/mzlogin/vim-markdown-toc
[submodule ".vim/bundle/vim-nix"]
	path = .vim/bundle/vim-nix
	url = https://github.com/LnL7/vim-nix.git
[submodule ".vim/bundle/completor"]
	path = .vim/bundle/completor
	url = https://github.com/maralla/completor.vim.git
