snippet if
	if ${1:condition}
		${2:code}
	end
snippet ife
	if ${1:condition}
		${2:code}
	else
		${3:code}
	end
	${4}
snippet else
	else
		${1:code}
	end
snippet elseif
	else if ${1:condition}
		${2:code}
	end
snippet each
	${1:collection}.each do |${2:item}|
		${3:code}
	end
snippet i18n
	<%= I18n.t('${1:translation}') %>
snippet def
	def ${1:method}${2:(args)}
		${3}
	end${4}
snippet defs
	def self.${1:method}${2:(args)}
		${3}
	end${4}
